* {
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}

body {
    background: linear-gradient(135deg, #f7caca, #ffdab9);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.container {
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(5px); 
    
    box-shadow: 0px 10px 30px rgba(255, 105, 180, 0.2);
    border-radius: 30px;
    border: 2px solid #ffffff;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    width: 90%;
    max-width: 400px;
    padding: 30px 20px;
    margin: 20px;
}

h1 {
    color: #d81b60; 
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

p {
    color: #880e4f;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.informacoes {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px; 
    margin-bottom: 30px;
}


input, select {
    padding: 12px 15px;
    border: 2px solid #fce4ec;
    border-radius: 15px;
    outline: none;
    font-size: 1rem;
    color: #880e4f;
    transition: 0.3s;
}

input:focus, select:focus {
    border-color: #ff69b4; 
    box-shadow: 0 0 8px rgba(255, 105, 180, 0.2);
}

.input-group {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-group label {
    position: absolute;
    left: 15px;
    top: 12px;
    color: #880e4f;
    pointer-events: none; 
    transition: all 0.3s ease;
    font-size: 1rem;
}


.input-group input:focus ~ label, 
.input-group input:not(:placeholder-shown) ~ label {
    top: -20%;
    left: 2%;
    font-size: 0.75rem;
    color: #ff69b4;
    background-color: white; 
    font-weight: bold;
}


input {
    width: 100%;
    box-sizing: border-box; 
}


button {
    background: linear-gradient(45deg, #ff69b4, #ffb6c1);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(255, 105, 180, 0.3);
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.05); 
    background: linear-gradient(45deg, #ff1493, #ff69b4);
    box-shadow: 0 6px 20px rgba(255, 105, 180, 0.5);
}

.resultados {
    margin-top: 2%;
    padding-top: 5%;
    border-top: 1px solid #ff69b4;
    width: 100%;
}

.resultados h2 {
    color: #d81b60;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#bmiResult, #calorieResult {
    font-weight: 600;
    margin-bottom: 0px;
}

@media (max-width: 480px) {
    .container {
        width: 85%;
        max-height: none;
        padding: 20px; 
        margin: 30px auto; 
    }

    select {
        width: 100%;
        cursor: pointer;
    }

    .resultados {
        padding: 1%;
    }
}